/* link font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #00468c;
    --primary-color-light: #127bbc;
    --text-dark: #0f172a;
    --text-light: #6b7280;
    --extra-light: #f3f4f7;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "DM Serif Display", serif;
}

.container {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background-color: var(--extra-light);
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background-color: var(--primary-color-light);
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
}

/* header and nav */
.header {
    width: 100%;
    /* height: calc(100vh -3rem); */
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 76%),
        url("../assets/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 100;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav__logo {
    font-size: 1.2rem;
    font-weight: 700;
}

.nav__menu {
    background-color: var(--extra-light);
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    padding: 6rem 3rem;
    transition: all 0.4s ease-in-out;

}

.nav__item {
    margin: 1.5rem;
}

.nav__link {
    color: var(--primary-color-light);
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.nav__link:hover {
    color: var(--primary-color);
}

.close__nav,
.open__nav {
    font-size: 1.5rem;
    cursor: pointer;
}

.close__nav {
    color: var(--primary-color);
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.btn__signup {
    display: none;
}

/* mostrar el menu */
.show__menu {
    right: 0;
}

/* section home */



.home__content {
    height: 100vh;

    display: flex;
    align-items: center;
}

.home__title {
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
    line-height: 1;
}

/* //section home */
/* offer section */
.offer__container,
.service__container,
.client__container {
    padding: 5rem 0;
}

.offer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.offer__figure {
    max-width: 400px;
}

.offer__img {
    border-radius: 5px;
}

.offer__subtitle {
    color: var(--primary-color-light);
    font-family: var(--header-font);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.offer__title {
    color: var(--text-dark);
    font-family: var(--header-font);
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 16px;
}

.offer__description {
    color: var(--text-light);
    text-align: center;
    margin-bottom: 16px;
}

.offer__inf {
    color: var(--text-dark);
    font-family: var(--header-font);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 16px;
}

.offer__raiting {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.ri-star-fill {
    color: yellow;
    margin-right: 1px;
}

.ri-star-fill:nth-child(5) {
    color: var(--text-light);
}

.offer__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.price__text {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 2rem;
}

/* // offer section */

/* service section */
.service__title {
    color: var(--primary-color);
    font-family: var(--header-font);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.service__subtitle {
    color: var(--text-dark);
    font-family: var(--header-font);
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 16px;
}

.container__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.service__card {
    border-radius: 10px;
    transition: all 0.3s ease;
}

.service__card:hover {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.card__img {
    border-radius: 10px 10px 0 0;
}

.card__boddy {
    padding: 1.2rem;
}

.card__title {
    color: var(--text-dark);
    font-family: var(--header-font);
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 8px;
}

.card__description {
    color: var(--text-light);
    margin-bottom: 8px;
}

.card__footer {
    padding: 0 1.2rem 1.2rem;
    display: flex;
    justify-content: space-between;
}

.card__raiting {
    font-size: 1.2rem;
}

.card__price {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 1.5rem;
}

/* // service section */

/* testimonial section */
.client__container {
    display: grid;
    gap: 2rem;
    text-align: center;
    margin-bottom: 16px;
}

.client__subtitle {
    font-size: 2.5rem;
    color: var(--text-dark);
    font-family: var(--header-font);
    line-height: 1;
}

.client__title {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 1.3rem;
}

.client__image img {
    max-width: 400px;
    margin-inline: auto;
    border-radius: 5px;
}

.client__image img.show {
    animation: show-image 0.3s forwards;
}

.client__image img.hide {
    animation: hide-image 0.3s forwards;
}

@keyframes show-image {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide-image {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.client__content {
    overflow: hidden;
}

.swiper {
    width: 100%;
    margin-top: 2rem;
}

.swiper-wrapper {
    padding-bottom: 2rem;
}

.client__card p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.client__details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.client__details img {
    max-width: 60px;
    border-radius: 100%;
}

.client__details h4 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--primary-color-light);
}

.client__details h5 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
}

.client-swiper-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.client-swiper-btns .swiper-prev,
.client-swiper-btns .swiper-next {
    padding: 5px 10px;
    font-display: 1.25rem;
    color: var(--white);
    background-color: var(--text-light);
    transition: 0.3s;
    cursor: pointer;
}

.client-swiper-btns .swiper-prev:hover,
.client-swiper-btns .swiper-next:hover {
    background-color: var(--primary-color);
}

/* // testimonial section */
/* banner section */
.banner {
    overflow: hidden;
}

.banner__wrapper {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

.banner__wrapper:hover {
    animation-play-state: paused;
}

.banner__card {
    max-width: 300px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border-radius: 5px;
}

.banner__content {
    position: absolute;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.8));
    transition: 0.3s;
    z-index: 1;
}

.banner__card:hover .banner__content {
    transform: translateY(0);
}

.banner__content h4 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}

.banner__ratings {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 5px;
    color: goldenrod;
}

.banner__content p {
    color: var(--extra-light);
}

/* //banner section */

/* contact section */
.offer__container,
.contact__container,
.service__container,
.section__container,
.contact__container,
.banner {
    padding: 5rem 1rem;
}

.contact__container {
    padding: 10rem 1rem;
}

.newsletter_container {
    max-width: 900px;
    margin-inline: auto;
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.contact__title {
    font-family: var(--header-font);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.contact__description {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.form {
    max-width: 450px;
    margin-inline: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;

}

.form input {
    width: 100%;
    padding: 0.75rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
}

/* //contact section */

/* footer */
.footer__grid {
    display: grid;
    gap: 4rem 1rem;
}

.footer__logo{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.footer__description{
    color: var(--text-light);
    margin-bottom: 1rem;
}
.footer__title{
    font-size: 1.5rem;
    font-family: var(--header-font);
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.footer__links{
    display: grid;
    gap: 1rem;
    font-size: 16px;
}
.footer__link{
    color: var(--text-light);
}

.footer__socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials a{
    font-size: 1.5rem;
    color: var(--text-light);
    transition: all 0.3s ease;
}

.footer__socials a:hover{
    color: var(--primary-color);
}

.copy{
    color: var(--text-light);
    text-align: center;
    font-size: 12px;
    padding: 1.5rem 0;
}
/* //footer */
/* breakpoints */


@media (min-width:768px) {

    /* big landscape tablets, laptops, and desktops */



    .nav {
        position: inherit;
        background-color: transparent;
        padding: 10px 5%;
        display: flex;
        align-items: center;
        height: 4rem;
    }

    .nav__menu {
        background-color: transparent;
        position: initial;
        padding: 0;
        transition: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin: 0;
        margin-right: 1.5rem;
    }

    .nav__link {
        color: var(--extra-light);
    }

    .close__nav,
    .open__nav {
        display: none;
    }

    .btn__signup {
        display: block;
        padding: 8px 20px;
    }

    .offer__container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;

    }

    .offer__figure {
        width: 45%;
    }

    .offer__data {
        width: 40%;
        max-width: 400px;
    }

    .offer__subtitle,
    .offer__title,
    .offer__description,
    .offer__inf,
    .offer__raiting {
        text-align: left;
    }

    .offer__price {
        justify-content: start;
    }

    .container__cards {
        grid-template-columns: repeat(3, 1fr);
    }


    .service__title {
        font-size: 1.25rem;
    }

    .service__subtitle {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }


    .client__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
    }

    .client__image {
        grid-area: 1/2/2/3;
    }

    .client__details {
        justify-content: flex-start;
    }

    .client-swiper-btns {
        justify-content: flex-start;
    }

    .footer__grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .copy{
        font-size: 16px;
    }
}

@media (min-width:1024px){
    .contact__description{
        margin-inline: 12rem;
    }
    .footer__grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* scrool up */
.scrollup{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 1rem;
    bottom: -50%;
    background-color: var(--primary-color);
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, .5);
    display: inline-flex;
    padding: 6px;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 100;

    align-items: center;
    justify-content: center;
    transition: bottom 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  
  .scrollup:hover{
    transform: translateY(-0.5rem);
  }
  /* Show Scroll Up */
  .show-scroll{
    bottom: 3rem;
  }